<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoanPhongkham"
        tools:targetApi="31">
        <activity
            android:name=".KeToan.CreateInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".KeToan.DanhSachHoaDonActivity"
            android:exported="false" />
        <activity
            android:name=".KeToan.DoanhThuActivity"
            android:exported="false" />
        <activity
            android:name=".KeToan.MainKeToanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityBacsi.KhamBenhActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityBacsi.SuaThongtinBenhNhanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityBacsi.ThemLichKhamActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.QuanLyTrangChinhActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.QuanLyTaiKhoan_TemThongTinTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.QuanLyTaiKhoan_TaoTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.QuanLyNhanVienActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.QuanLyKhoaActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.QuanLyKhoa_ThemKhoaActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.QuanLyKhoa_SuaActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.DanhSachTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.DanhSachTaiKhoan_ThongTinActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityBacsi.ThemThongtinBenhNhanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityBacsi.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>